In [1]:
## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,2021-05-24 02:03:08,-54.8000,-68.3000,39.70,98,100,3.80,overcast clouds
1,1,Dryden,CA,2021-05-24 02:03:53,49.7833,-92.7503,45.93,63,100,7.09,overcast clouds
2,2,Fortuna,US,2021-05-24 02:03:53,40.5982,-124.1573,59.94,62,1,1.99,clear sky
3,3,Komsomolskiy,UZ,2021-05-24 02:03:53,40.4272,71.7189,71.02,52,100,6.91,overcast clouds
4,4,Castro,BR,2021-05-24 02:00:56,-24.7911,-50.0119,47.39,61,0,8.68,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 88

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Yarada,IN,2021-05-24 02:03:54,17.6500,83.2667,86.32,51,90,4.43,overcast clouds
11,11,Bosaso,SO,2021-05-24 02:02:17,11.2842,49.1816,86.25,60,73,5.50,broken clouds
12,12,Auki,SB,2021-05-24 02:03:56,-8.7676,160.7034,80.91,74,100,4.83,overcast clouds
16,16,Avarua,CK,2021-05-24 02:03:57,-21.2078,-159.7750,80.65,89,90,12.66,light rain
18,18,Hasaki,JP,2021-05-24 02:03:58,35.7333,140.8333,82.18,74,100,6.60,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
708,708,Kon Tum,VN,2021-05-24 02:02:43,14.3500,108.0000,81.14,74,86,1.97,light rain
710,710,Ridgecrest,US,2021-05-24 02:07:25,35.6225,-117.6709,78.69,11,1,1.99,clear sky
711,711,Kulhudhuffushi,MV,2021-05-24 02:07:25,6.6221,73.0700,82.90,79,100,19.26,overcast clouds
713,713,Nizwa,OM,2021-05-24 02:07:26,22.9333,57.5333,81.32,49,0,1.52,clear sky
715,715,Benjamin Hill,MX,2021-05-24 02:07:26,30.1667,-111.1000,82.17,7,0,13.35,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Yarada,IN,2021-05-24 02:03:54,17.6500,83.2667,86.32,51,90,4.43,overcast clouds
11,11,Bosaso,SO,2021-05-24 02:02:17,11.2842,49.1816,86.25,60,73,5.50,broken clouds
12,12,Auki,SB,2021-05-24 02:03:56,-8.7676,160.7034,80.91,74,100,4.83,overcast clouds
16,16,Avarua,CK,2021-05-24 02:03:57,-21.2078,-159.7750,80.65,89,90,12.66,light rain
18,18,Hasaki,JP,2021-05-24 02:03:58,35.7333,140.8333,82.18,74,100,6.60,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
708,708,Kon Tum,VN,2021-05-24 02:02:43,14.3500,108.0000,81.14,74,86,1.97,light rain
710,710,Ridgecrest,US,2021-05-24 02:07:25,35.6225,-117.6709,78.69,11,1,1.99,clear sky
711,711,Kulhudhuffushi,MV,2021-05-24 02:07:25,6.6221,73.0700,82.90,79,100,19.26,overcast clouds
713,713,Nizwa,OM,2021-05-24 02:07:26,22.9333,57.5333,81.32,49,0,1.52,clear sky
715,715,Benjamin Hill,MX,2021-05-24 02:07:26,30.1667,-111.1000,82.17,7,0,13.35,clear sky

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Yarada,IN,86.32,overcast clouds,17.6500,83.2667,
11,Bosaso,SO,86.25,broken clouds,11.2842,49.1816,
12,Auki,SB,80.91,overcast clouds,-8.7676,160.7034,
16,Avarua,CK,80.65,light rain,-21.2078,-159.7750,
18,Hasaki,JP,82.18,overcast clouds,35.7333,140.8333,
22,Myrtle Beach,US,78.12,broken clouds,33.6891,-78.8867,
27,Manokwari,ID,81.48,overcast clouds,-0.8667,134.0833,
32,Laguna,US,80.94,clear sky,38.4210,-121.4238,
38,Hithadhoo,MV,83.97,overcast clouds,-0.6000,73.0833,
43,Vaini,TO,75.36,light rain,-21.2000,-175.2000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Yarada,IN,86.32,overcast clouds,17.6500,83.2667,Jeevan
11,Bosaso,SO,86.25,broken clouds,11.2842,49.1816,Red Sea Hotel
12,Auki,SB,80.91,overcast clouds,-8.7676,160.7034,Auki Motel
16,Avarua,CK,80.65,light rain,-21.2078,-159.7750,Paradise Inn
18,Hasaki,JP,82.18,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
...,...,...,...,...,...,...,...
708,Kon Tum,VN,81.14,light rain,14.3500,108.0000,Hoa đà spa- homestay
710,Ridgecrest,US,78.69,clear sky,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
711,Kulhudhuffushi,MV,82.90,overcast clouds,6.6221,73.0700,Haajy Guest House 1
713,Nizwa,OM,81.32,clear sky,22.9333,57.5333,Orient Apartments
715,Benjamin Hill,MX,82.17,clear sky,30.1667,-111.1000,Hotel Benjamín Hill

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))